
.entireCalendarWeek { 
    position:absolute;
    left: 28vw;
    top:24vh;
    height: 15%;
    width: 100%;
}
.calendarRowWeek, .calendarDatesWeek, .calendarMachinesWeek {
    display: grid;
    background: grey;
}
.calendarRowWeek {
    position: relative;
    width: 49.9vw;
    height: 100%;
    grid-template-columns: repeat(7, 7vw);
    grid-template-rows: repeat(1, 100%);
    border: 1px solid grey;
    grid-gap: .4vh;
}
.calendarDatesWeek {
    grid-template-columns: repeat(7, 7vw);
    grid-template-rows: repeat(1, 100%);
    position: relative;
    top: 4vh;
    left: 8.22vw;
    width: 49.9vw;
    height: 10vh;
    font-size: 2.5vw;
    font-weight: 700;
    grid-gap: .4vh;
}
.calendarMachinesWeek {
    position: absolute;
    padding-top: 1px;
    top:24vh;
    left: 21%;
    grid-template-columns: repeat(1, 7.1vw);
    float:left;
    font-size: 15px;
    grid-gap: .2vh;
    height: 100%;
}
.gridPerSquareWeek {
    display: grid;
    width: 105%;
    position: relative;
    grid-gap: 0px;
}
.dayNumbersWeek {
    background: white;
    justify-content: center;
    text-align: center;
    opacity: '1';
    width: 101%;
    font-size: 3vw;
}