
.entireCalendarDay { 
    position:absolute;
    left:40vw;
    top:25vh;
}
.calendarRowDay, .calendarDatesDay, .calendarMachinesDay {
    position: relative;
    display: grid;
    background: grey;
}
.calendarRowDay {
    width: 30vw;
    position: relative;
    grid-template-columns: repeat(1, 30vw);
    grid-template-rows: repeat(1, 20vh);
    border: 1px solid grey;
    grid-gap: 2px;
}
.calendarDatesDay {
    grid-template-columns: repeat(1, 20vw);
    grid-template-rows: repeat(1, 10vh);
    position: absolute;
    top: 12vh;
    left:30.3vw;
    width: 150px;
    font-size: 40px;
    font-weight: 700;
    grid-gap: 2px;
}
.calendarMachinesDay {
    position: absolute;
    top:25vh;
    left: 23vw;
    grid-template-columns: repeat(1, 15vw);
    float:left;
    font-size: 20px;
    grid-gap: 2px;
}
.gridPerSquareDay {
    display: grid;
    width: 30vw;
    position: relative;
    grid-template-columns: repeat(1, 20vw);
    grid-gap: 0px;
}
.dayNumbersDay {
    background: white;
    justify-content: center;
    text-align: center;
    opacity: '1';
    width: 150px;
}