
.entireCalendarWeek { 
    position:absolute;
    left:530px;
    top:169px;
}
.calendarRowWeek, .calendarDatesWeek, .calendarMachinesWeek {
    position: relative;
    display: grid;
    background: grey;
}
.calendarRowWeek {
    width: 1050px;
    position: relative;
    grid-template-columns: repeat(7, 150px);
    grid-template-rows: repeat(1, 150px);
    border: 1px solid grey;
    grid-gap: 2px;
}
.calendarDatesWeek {
    grid-template-columns: repeat(7, 150px);
    grid-template-rows: repeat(1, 100px);
    position: relative;
    top: 23px;
    left: 150px;
    width: 1050px;
    font-size: 40px;
    font-weight: 700;
    grid-gap: 2px;
}
.calendarMachinesWeek {
    position: absolute;
    top:170px;
    left: 380px;
    grid-template-columns: repeat(1, 150px);
    float:left;
    font-size: 20px;
    grid-gap: 2px;
}
.gridPerSquareWeek {
    display: grid;
    width: 150px;
    position: relative;
    grid-template-columns: repeat(1, 150px);
    grid-gap: 0px;
}
.dayNumbersWeek {
    background: white;
    justify-content: center;
    text-align: center;
    opacity: '1';
    width: 150px;
}