
body 
{
    display: flex;
    flex-direction: column; /* Stacks items vertically */
    gap: 1rem;              /* Controls the space between items */
    align-items: left;
    padding-left: 2rem;
    padding-top: 2rem;
}
.header
{
    width: 100%;
    display: flex;
    flex-direction: row;
}
.showName
{
    width: 100%;
    font-weight: bold;
}
#logoImg
{
    transform: rotate(-90deg);
    width: 20%;
    height: 2rem;
}
.logo
{
    padding: 1rem 1rem;
    font-size: 3rem;
    font-weight: bold;
    display: flex;
    align-items: center;
}
