img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

.username {
    font-weight: bold;
}

html { 
    background: url(images/7awnlcZoomed.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}